* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img.logo {
	/*margin: 0 auto;*/
	width: 500px;
	height: 423px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: 60px;
}

h2.title {
	font-family: 'Lato Semibold';
	font-size: 30px;
	/*margin: 0 auto;*/
	line-height: 10vh;
	top: 50%;
	left: 38%;
	margin-top: 450px;
	position: absolute;
	font-style: italic;
}

h2.desc {
	font-family: 'Lato Regular';
	font-size: 30px;
	/*width: 900px;*/
	/*line-height: 3vh;*/
	background-color: rgba(255,255,255,0.3);
	display: inline;
	padding: 10px 20px;
	color: #000;
	margin-left: 13%
}

h2.graph_title {
	font-family: 'Lato Light';
	text-transform: uppercase;
	/*font-weight: bold;*/
	font-size: 55px;
	/*letter-spacing: 15px;*/
	line-height: 10vh;
	/*padding: 0;*/
	/*background-color: #000;*/
	/*border: 1px solid #fff;*/
	margin-top: 70px;
	color: #fff;
	letter-spacing: 2px;
}	


h3.graph_subtitle{
	font-family: 'Lora';
	font-style: italic;
	font-size: 20px;
	color: #ddd;
	margin-top: -5px;
	text-align: center;
}

.graph_container {
	width: 800px;
	height: 400px;
	/*border: 1px solid #fff;*/
	/*margin-top: 50px;*/
	margin: 50px auto;
	/*background-image: url("../img/graph1.gif");*/
	 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* Tooltip text */
.graph_container .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: rgba(0,0,0,0.2);
    color: #ddd;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Lato';
    font-style: italic;
    text-align: center;
    padding: 20px 15px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /*left: 105%;*/
    top: 35%;
    left: 81%;
    text-align: center;
    text-indent: 15px;
    /*transition: 0.3s background-color ease-in-out;*/

}

/* Show the tooltip text when you mouse over the tooltip container */
.graph_container:hover .tooltiptext {
    visibility: visible;
}

.graph_container .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.2) transparent transparent;

}

span.names {
	margin-top: 100px;
}

span.name, span.name2, span.names {
	display: block;
	text-align: center;
}

span.name {
	font-family: 'Oswald';
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 40px;
	font-size: 32px;
}

span.name2  {
	font-family: 'Lato Light';
	font-style: italic;
	font-size: 22px;
}