* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h2.title {
	font-family: 'Bakery';
	font-size: 160px;
	/*margin: 0 auto;*/
}

h2.desc {
	font-family: 'Lato';
	font-size: 30px;
	/*width: 900px;*/
	/*line-height: 3vh;*/
}

h2.graph_title {
	font-family: 'Lato Thin';
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 15px;
	line-height: 10vh;
	/*padding: 0;*/
	/*background-color: #000;*/
	/*border: 1px solid #fff;*/
	margin-top: 100px;
}	


.graph_container {
	width: 600px;
	height: 400px;
	/*border: 1px solid #fff;*/
	/*margin-top: 50px;*/
	margin: 20px auto;
	/*background-image: url("../img/graph1.gif");*/
	 box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* Tooltip text */
.graph_container .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    text-align: center;
    padding: 20px 15px;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /*left: 105%;*/
    top: 40%;
    left: 74%;
    text-align: justify;
    /*transition: 0.3s background-color ease-in-out;*/

}

/* Show the tooltip text when you mouse over the tooltip container */
.graph_container:hover .tooltiptext {
    visibility: visible;
}

.graph_container .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0,0,0,0.3) transparent transparent;

}